<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="aboutcss.css">
        
        <title>NewBie.com</title>
    <body>
       
        <div class="container">
            <div class="header">
                <h1>What is NewBie.com?</h1>
                <label for="username">Newbie.com is a student support system which would help those students who leave home and go to other cities or states to study. Our system would help them find places of various categories such as education,travel,etc. In and around their college location. It will also help students sell and buy things they own such as tables,chairs,books,etc.</label>
            </div>
            <div class="header">
                <h1>Why NewBie.com?</h1>
                <label for="username">The main issue of the students who are newly shifted to a city is to adjust with the new place. As they are unknown to this new place they usually get cheated or fooled.</label>
            </div>
            <div class="header">
                <h1>Special Features</h1>
                <label for="username">We provide:-</label>
                <ul>
                    <li>Renting and Buying Products</li>
                    <li>Pg and Hostels</li>
                    <li>Transport</li>
                    <li>Places to Visit</li>
                    <li>Restaurants</li>
                    </ul>
                
            </div>
               
        

        
     <script src="fb3.js"></script>
    </body>
</html> 