<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="contactcss.css">
        <title>NewBie.com</title>
        </head>
    <body>
        <div class="container">
            <div class="header">
                <h1><u>CONTACT US</u></h1>
                <h1>Support</h1>
                <h3>Technical Support</h3>
                <label for="username">If you are facing a Techinal Issue please Reach out to us at:-</label>
                <li>Rueben.Kurian@mca.Christuniversity.in</li>
                <li>c.Saranya@mca.Christuniversity.in</li>
                <li>Adarsh.verma@mca.Christuniversity.in</li>
                <h3>Report a Bug</h3>
                <label for="username">If you have found an issue with Kali, then please make a post on our Bug tracker. For more Information Contact Rueben Kurian </label>
                <h3>Report A Vulnerability/Security Issue</h3>
                <label for="username">Feel free to call/Mail us the Bug report</label>
                <li>Rueben.Kurian@mca.Christuniversity.in</li>
            </div>
            
        
        

        
     
    </body>
</html> 



  